* {
  padding: 0;
  margin: 0;
  color: #2f3640;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

::selection {background: rgba(251, 197, 49, 0.75);}
::-webkit-scrollbar {width: 0px; height: 0px;}
::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {}

::-webkit-scrollbar-button {}

::-webkit-scrollbar-corner {}
